site_name: Bigger Picker Documentation
site_url: https://motivation-and-behaviour.github.io/bigger_picker
repo_url: https://github.com/Motivation-and-behaviour/bigger_picker
plugins:
  - search
  - git-revision-date-localized
  - git-authors
  - glightbox
theme:
  name: material
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.top
    - navigation.footer
    - navigation.tracking
    - content.code.copy
    - content.tooltips
    - search.suggest
    - search.highlight
    - toc.integrate
    - toc.follow
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - mkdocs-click
  - pymdownx.blocks.caption
  - pymdownx.caret
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.keys
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      check_paths: true
      auto_append:
        - assets/glossary.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true
  - toc:
      permalink: true
      toc_depth: 4
  - tables
watch:
  - assets
extra_css:
  - stylesheets/extra.css
nav:
  - Home: index.md
  - Screening and Extraction:
      - manual/index.md
      - Screening:
          - Overview and Setup: manual/screening_overview.md
          - Screening Process: manual/screening_process.md
      - Extraction and Validation:
          - Overview and Setup: manual/extraction_overview.md
          - Validation Process: manual/extraction_process.md
          - Other Tasks:
              - Adding or Removing Populations, Screen Time Measures, and Outcomes: manual/extraction_addremove.md
              - Adding New Validated Outcomes: manual/extraction_addvalidated.md
              - Deduplicating Datasets: manual/extraction_dedupe.md
              - Excluding Datasets: manual/extraction_exclude.md
      - Data Management: manual/data_management.md
  - CLI: cli.md
